:root {
  --default:  #333;
  --bgcolor:  #eee;
  --linkedin: #1178B3;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}